<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body class="container">
    <h1 class="my-4">Consulta de contratos por CNPJ no PNCP</h1>
    <form action="/buscarContratos" method="get">
      <div class="form-group">
        <label for="cnpj">CNPJ:</label>
        <input
          type="text"
          id="cnpj"
          name="cnpj"
          class="form-control"
          required
        />
      </div>
      <div class="form-group">
        <label for="dataInicial">Data Inicial:</label>
        <input
          type="date"
          id="dataInicial"
          name="dataInicial"
          class="form-control"
          required
        />
      </div>
      <div class="form-group">
        <label for="dataFinal">Data Final:</label>
        <input
          type="date"
          id="dataFinal"
          name="dataFinal"
          class="form-control"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
  </body>
</html>
